<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>KOREA STORE FOOTER</title>
    <link rel="stylesheet" href="../../static/css/public/footer.css">
</head>
<body>
    <footer th:fragment="footer">
        <nav>
            <ul>
                <li><a href="#">회사개요</a></li>
                <li><a href="#">이용규약</a></li>
                <li><a href="#">개인정보이용방침</a></li>
                <li><a href="#">이용가이드</a></li>
            </ul>
        </nav>

        <section>

            <div class="community-info-container">
                <h4>커뮤니티</h4>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">사용자리뷰</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
            </div>

            <div class="service-info">
                <h4>SERVICE</h4>
                <p>
                    고객님은 안전거래를 위해 현금등으로 결제시 저희 쇼핑몰에서 가입한 PG에스크로 구매안전 서비스를 이용하실 수 있습니다.
                </p>
                <span>서비스가입사실확인</span>
            </div>

            <div class="info-container">
                <h4>SHOP INFO</h4>
                <span>Company: IDO</span>
                <span>CEO: 아이두</span>
                <span>TEL: 07012345678</span>
            </div>

        </section>
    </footer>
</body>
</html>




