<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>HEADER</title>
    <link rel="stylesheet" href="../../static/css/public/header.css">
</head>
<body>
    <header th:fragment="header" id="main-header">
        <a href="" class="main-header-logo">
            <img src="../../static/images/logo/header_logo.png" width="200" alt="메인로고">
        </a>

        <ul class="main-menu-ul">

            <li th:each="category: ${categories}">
                <a th:href="@{|/product?categoryNo=${category.no}|}" th:text="${category.name}">ALL</a>
                <ul class="header-child-menu" th:if="${category.children}">
                    <li th:each="childCategory: ${category.children}">
                        <a th:href="@{|/product?categoryNo=${childCategory.no}|}" th:text="${childCategory.name}">ALL</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="">COMMUNITY</a>
                <ul class="header-child-menu">
                    <li><a href="">NOTICE</a></li>
                    <li><a href="">REVIWE</a></li>
                    <li><a href="">Q&A</a></li>
                </ul>
            </li>
        </ul>

        <section>
            <nav>
                <ul class="header-sub-menu">
                    <li>
                        <a sec:authorize="not authenticated" href="/user/login">
                            <i class="bi bi-person"></i>
                        </a>
                        <form sec:authorize="authenticated" name="logout-form" th:action="@{/user/logout}" method="post">
                            <button><i class="bi bi-door-open"></i></button>
                        </form>
                        
                        <ul class="header-child-menu">
                            <th:block sec:authorize="not authenticated">
                                <li><a href="/user/login">로그인</a></li>
                                <li><a href="/user/join">회원등록</a></li>
                            </th:block>
                            <th:block sec:authorize="authenticated">
                                <li><a href="">마이페이지</a></li>
                                <li><a href="">주문이력</a></li>
                                <li><a href="">로그아웃</a></li>
                            </th:block>
                        </ul>
                    </li>
                    <li><a href="/user/cart"><i class="bi bi-cart"></i></a></li>
                    <li><a href=""><i class="bi bi-search"></i></a></li>
                </ul>
            </nav>

            <ul class="header-country-ul">
                <li>
                    <a href=""><img src="../../static/images/icon/icons8-south-korea-96.png" width="35" alt="한국어"/></a>
                    <a href=""><img src="../../static/images/icon/icons8-japan-96.png" width="35" alt="일본어"/></a>
                    <a href=""><img src="../../static/images/icon/icons8-america-96.png" width="35" alt="영어"/></a>
                </li>
            </ul>
        </section>



    </header>
</body>
</html>