<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ido.style.mapper.ProductMapper">

    <resultMap id="productWithImageMap" type="ProductDTO" autoMapping="true">
        <id property="no" column="product_no" />
        <result property="name" column="product_name" />
        <result property="price" column="product_price" />

        <association property="category" javaType="CategoryDTO" autoMapping="true">
            <id property="no" column="category_no" />
            <result property="name" column="category_name" />
        </association>

        <collection property="images" ofType="ProductImageDTO" javaType="list">
            <id property="no" column="product_image_no"/>
        </collection>
    </resultMap>

    <select id="selectProducts" resultType="ProductDTO" resultMap="productWithImageMap">
        SELECT
        P.`no` AS product_no,
        P.`name` AS product_name,
        P.`price` AS product_price,
        P.detail,
        P.uploaded_at,

        CT.no AS category_no,
        CT.name AS category_name,

        PI.`no` AS product_image_no

        FROM product P
        INNER JOIN category CT
        ON P.category = CT.no
        <if test="categoryNo != 1">
            AND P.category IN (WITH RECURSIVE `category_cte` AS
            (
            SELECT * FROM `category` WHERE `no` = #{categoryNo}
            UNION
            SELECT child.* FROM `category_cte` parent
            INNER JOIN `category` child
            ON parent.no = child.parent
            ) SELECT `no` FROM `category_cte`)
        </if>
        INNER JOIN product_image PI
        ON P.`no` = PI.`product_no`
        <choose>
            <when test="sort == 'name'">
                ORDER BY P.`name`
            </when>
            <when test="sort == 'low-price'">
                ORDER BY P.`price`
            </when>
            <when test="sort == 'high-price'">
                ORDER BY P.`price` DESC
            </when>
            <otherwise>
                ORDER BY P.`uploaded_at`
            </otherwise>
        </choose>
    </select>

    <select id="selectProductByNo" resultType="ProductDTO" resultMap="productWithImageMap">
        SELECT
            *,
            P.`no` AS product_no,
            P.`name` AS product_name,
            P.`price` AS product_price,

            CT.no AS category_no,
            CT.name AS category_name,

            PI.`no` AS product_image_no
        FROM product P
        INNER JOIN category CT
        ON P.category = CT.no
        INNER JOIN product_image PI
        ON P.`no` = PI.`product_no`

        WHERE P.`no` = #{productNo};
    </select>

    <resultMap id="categoryWithChildrenMap" type="CategoryDTO">
        <id property="no" column="parent_no" />
        <result property="name" column="parent_name" />
        <collection property="children" ofType="CategoryDTO" javaType="list">
            <id property="no" column="child_no" />
            <result property="name" column="child_name" />
        </collection>
    </resultMap>
    <select id="selectCategories" resultType="CategoryDTO" resultMap="categoryWithChildrenMap">
        SELECT
            C1.no AS 'parent_no',
            C1.name AS 'parent_name',

            C2.no AS 'child_no',
            C2.name AS 'child_name'
        FROM category C1
        LEFT OUTER JOIN category C2
        ON C1.no = C2.parent
        WHERE C1.parent IS NULL
    </select>


</mapper>